### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [3]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
pd_df = pd.read_csv(file_to_load)

In [4]:
# Validating directory
#!ls

In [5]:
# Testing data read
pd_df.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

In [6]:
# Display the total number of players (204 duplicates /new total should be 576)
unique_players = len(pd_df["SN"].value_counts())
count = pd.DataFrame({"Total Players":[unique_players]})
count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Get Number of Unique items
unique_items = pd_df["Item ID"].nunique()
#unique_items

# Get Total Number of Purchases
purchases = pd_df["Purchase ID"].count()
#purchases

# Get Total Revenue
revenue = pd_df["Price"].sum()
#revenue

# Get Average Price
price = revenue/purchases
#price


purchase_analysis = pd.DataFrame([{"Number of Unique Items": unique_items, 
                                   "Average Price": price,
                                   "Number of Purchases": purchases,
                                   "Total Revenue": revenue}])
# Make a pretty table
purchase_analysis.style.format({"Average Price":"${:,.2f}",
                                "Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
# Groupby Gender
gender_stat = pd_df.groupby("Gender")

# Count players by gender 
gender_total = gender_stat.nunique()["SN"]

# Percent of players
pct_player = gender_total / unique_players * 100

# Create data frame with obtained values
demographics = pd.DataFrame({"Total Count": gender_total,
                             "Percentage of Players": pct_player
                             })

#Make a pretty table, sort values to match output 
demographics.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
# Purchases count by gender 
count = demographics["Total Count"]

# Average purchase price
avg_price = gender_stat["Price"].mean()

# Total purchase value
tpv = gender_stat["Price"].sum()

# Average purchase total per person 
avg_ptp = tpv/count
avg_ptp

# Create a summary data frame to hold the results
gender_demographics = pd.DataFrame({"Purchase Count": count, 
                                    "Average Purchase Price": avg_price,
                                    "Total Purchase Value":tpv,
                                    "Avg Purchase Total per Person": avg_ptp})
# Make a pretty table
gender_demographics.style.format({"Average Purchase Value": "${:,.2f}",
                                   "Average Purchase Price": "${:20,.2f}",
                                   "Avg Purchase Total per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [10]:

# Establish bins for ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
pd_df["Age Group"] = pd.cut(pd_df["Age"],age_bins, labels=group_names)

# Data frame with the added Age Group and group it
age_grouped = pd_df.groupby("Age Group")

# Total player count by age
total_count = age_grouped["SN"].nunique()

# Percentages by age group 
pct_age = (total_count/unique_players) * 100

#Create a summary data frame to hold the results
age_demographics = pd.DataFrame({"Total Count": total_count, "Percentage of Players": pct_age})

# Make a pretty table
age_demographics.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
# Establish bins for ages
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 50]
group_names = ["<10","10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins
pd_df["Age Group"] = pd.cut(pd_df["Age"],age_bins, labels=group_names)

# Purchase count
age_count = age_grouped["Purchase ID"].count()

# Average purchase price by age group 
avg_price = age_grouped["Price"].mean()

# Total purchase value by age group 
value = age_grouped["Price"].sum()

# Average total purchase per person 
avg_ppp_age =value/age_count

# Create a summary data frame to hold the results
age_demo = pd.DataFrame({"Purchase Count": age_count,
                                 "Average Purchase Price": avg_price,
                                 "Total Purchase Value":value,

                         #Sort the data                                 "Average Purchase Total per Person": avg_ppp_age})
age_demo = age_demo.sort_index(ascending=False)

# Make a pretty table
age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                       "Total Purchase Value":"${:,.2f}",
                       "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# Group purchase data by screen names
spender_stats = pd_df.groupby("SN")

# Count the total purchases by name
purchase_count_spender = spender_stats["Purchase ID"].count()

# Calculate the average purchase by name 
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate purchase total 
purchase_total_spender = spender_stats["Price"].sum()

# Create a summary data frame to hold the results
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort the total purchase value column in descending order
spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Make a pretty table

spenders.style.format({"Average Purchase Total": "${:,.2f}",
                       "Average Purchase Price":"${:,.2f}", 
                       "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [11]:
# Retrieve the Item ID, Item Name, and Item Price columns
items = pd_df[["Item ID", "Item Name", "Price"]]

# Group by Item ID and Item Name
item_stats = items.groupby(["Item ID","Item Name"])

# Number of times an item has been purchased 
purchase_count_item = item_stats["Price"].count()

# Purchase value per item 
purchase_value = (item_stats["Price"].sum()) 

# Item price
item_price = purchase_value/purchase_count_item

# Create data frame with obtained values
pop_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

# Sort the purchase count column in descending order
pop_formatted = pop_items.sort_values(["Purchase Count"], ascending=False).head()

# Make a pretty table
pop_formatted.style.format({"Item Price":"${:,.2f}" , "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [12]:
# Sort the above table by total purchase value in descending order
pop_formatted = pop_items.sort_values(["Total Purchase Value"], ascending=False).head()
# Make a pretty table
pop_formatted.style.format({"Item Price":"${:,.2f}" , "Total Purchase Value":"${:,.2f}"})